{{!-- NavbarPosition --}}

<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2"></p>Active Users
                    <h6 class="mb-0">{{activeUsers}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Orders</p>
                    <h6 class="mb-0">{{totalOrders}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Products</p>
                    <h6 class="mb-0">{{totalProducts}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Revenue</p>
                    <h6 class="mb-0">$ {{totalRevenue}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->


<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Payment Methods</h6>
                    <a href="/admin/view-users">Show All</a>
                </div>
                <canvas id="salse-revenue"></canvas>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Status Chart</h6>
                    <a href="/admin/view-users">Show All</a>
                </div>
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="">Show All</a>
        </div>

        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">No</th>
                        <th scope="col">Date</th>

                        <th scope="col">Customer</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {{#each recentOrders}}
                <tbody>
                    <tr>
                        <td>{{count @index}}</td>
                        <td>{{this.date}}</td>

                        <td>{{this.Name}}</td>
                        <td>$ {{this.orderData.Total_Amount}}</td>
                        <td>{{this.Pay_Method}}</td>
                        <td>{{this.status}}</td>
                        <td><a class="btn btn-sm btn-primary" href="/admin/view-orders/{{this.UserId}}">Detail</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->


<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                    <a href="">Show All</a>
                </div>
                <div id="calender"></div>
            </div>
        </div>
    </div>
</div>
<!-- Widgets End -->

<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">Porsche Store</a>, All Right Reserved.
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

</div>
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
{{!-- </body> --}}

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<script>

    // Pie Chart

    var ctx5 = document.getElementById('pie-chart').getContext("2d");
    var myChart5 = new Chart(ctx5, {
        type: "pie",
        data: {
            labels: ["Packed", "Delivered", "Shipped", "Cancelled"],
            datasets: [{
                backgroundColor: [
                    '#C2C9C8',
                    '#0B6464',
                    '#515454',
                    '#3E5A5A'
                ],
                data: [{{ orderStatusObj.packed }}, {{ orderStatusObj.delivered }}, {{ orderStatusObj.shipped }}, {{ orderStatusObj.cancelled }}]
             }]
         },
    options: {
        responsive: true
    }
     });

    // Doughnut Chart

    var ctx6 = document.getElementById('salse-revenue').getContext("2d");
    var myChart6 = new Chart(ctx6, {
        type: "doughnut",
        data: {
            labels: ['COD', 'Razorpay'],
            datasets: [{
                backgroundColor: [
                    '#C2C9C8',
                    '#515454'
                ],
                data: [{{ payMethod.cod }}, {{ payMethod.razorPay }} ]
    }]
        },
    options: {
        responsive: true
    }
    });

</script>