<body>
    <div class="content">

        <div class="row" style="background-color: #191C24; padding-right: 30%;">
            <div>
                <h3 class="text-primary" style="background-color: #191C24; margin: 0; padding-left: 2%;">Edit Products
                </h3>
            </div>

            <form action="/admin/edit-products/{{products._id}}" method="post" enctype="multipart/form-data"
                style="background-color: #191C24; margin-left: auto; margin-right: auto;">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input name="name" type="text" class="form-control" id="" aria-describedby="" value="{{products.name}}"
                        placeholder="Enter product name" style="background-color: aliceblue;">
                    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    --}}
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Price</label>
                    <input name="price" type="number" class="form-control" id="exampleInputPassword1" value="{{products.price}}"
                        placeholder="Enter price" style="background-color: aliceblue;">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <input name="description" type="text" class="form-control" id="exampleInputPassword1" value="{{products.description}}"
                        placeholder="About the product" style="background-color: aliceblue; height: 100px;">
                </div>
                <div class="mb-3">
                    {{!-- <select name="category" class="form-control" >
                        <option selected>select</option>
                        <option value="{{products.category}}"> Men </option>
                        <option value="{{products.category}}"> Women </option>
                    </select> --}}

                    <input name="category" type="text" class="form-control" id="exampleInputPassword1" value="{{products.category}}"



                </div>
                <div class="mb-3">
                    <label>Add image1</label>
                    <img src="/productImages/{{products._id}}_1.jpg" alt="" style="width: 100px;height: auto;" id="image1">
                    <input name="image1" type="file" class="form-control" multiple style="background-color: aliceblue;" >
                </div>
                <div class="mb-3">
                    <label>Add image2</label>
                    <input name="image2" type="file" class="form-control" multiple style="background-color: aliceblue;">
                </div>
                <div class="mb-3">
                    <label>Add image3</label>
                    <input name="image3" type="file" class="form-control" multiple style="background-color: aliceblue;">
                </div>
                <div class="mb-3">
                    <label>Add image4</label>
                    
                    <input name="image4" type="file" class="form-control" multiple style="background-color: aliceblue;">
                </div>
                <button type="submit" class="btn btn-primary" value="uploadImages">Submit</button>
            </form>
        </div>
    </div>
</body>