 <body class="animsition">
 
 <!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>


		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			{{#if user}}
			{{#if cartItems}}
			<div class="header-cart-content flex-w js-pscroll">
				{{#each cartItems}}
				<ul class="header-cart-wrapitem w-full">

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="/productImages/{{this.product._id}}0.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								{{this.product.name}}
							</a>

							<span class="header-cart-item-info">
								${{this.product.price}} x {{this.quantity}}
							</span>
						</div>
					</li>


				</ul>
				{{/each}}
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: ${{totalAmount}}
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="/cart"
							class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="/checkout"
							class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
			{{else}}
			<center>
				<h3 style="color: red;">Sorry your cart is empty</h3>
				<img src="https://alphapharmaexhibitions.com/images/cartempty1.png" alt="" style="width:250px"><br>
				<a class="btn btn-succes" href="/shop" style="margin-top: 17px; color: green; border: solid green;">SHOP
					NOW</a>
			</center>
			{{/if}}
			{{else}}
			<div class="container align-items-center">
				<div>
					<img src="https://i.pinimg.com/originals/68/90/6f/68906ff38a09a42fd26cafdec2247462.jpg" alt=""
						style="width: 250px; ;height: auto ;">
				</div>
				<div>
					<P class="ml-5">Press login to continue</P>
					<a href="/login"><button class="btn btn-success" style="margin-left:5em ;">LOGIN</button></a>

				</div>
			</div>

			{{/if}}
		</div>
	</div>


<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-lg-3  col-md-6 my-lg-0 my-md-1">
            <div id="sidebar" class="bg-purple">
                <div class="h4 text-dark">Account</div>
                <ul>
                    <li >
                        <a href="/profile" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-box pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Account</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li >
                        <a href="/orders" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-box-open pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Orders</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/profileAddress" class="text-decoration-none d-flex align-items-start">
                            <div class="far fa-address-book pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">User Data</div>
                                <div class="link-desc">View & Manage Addresses</div>
                            </div>
                        </a>
                    </li>
                    {{!-- <li>
                        <a href="#" class="text-decoration-none d-flex align-items-start">
                            <div class="far fa-user pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Profile</div>
                                <div class="link-desc">Change your profile details & password</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-headset pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">Help & Support</div>
                                <div class="link-desc">Contact Us for help and support</div>
                            </div>
                        </a>
                    </li> --}}
                </ul>
            </div>
        </div>

        <div class="col-xl-9 col-md-12 col-lg-9 col-sm-12">

            <div class="align-items">

                <a class="btn btn-primary mt-3" href="/add-edit-address"><i class="fa fa-plus">  Add new</i></a>
                
            </div>
            <div class="row checkout-billing-adress-box mt-3">

                            {{#each savedAddress.address}}
                            <div class="col-md-6  mt-3" style="border:solid #847f7f;">
                                <dl class="text-left">
                                    <dt>{{this.First_Name}} {{this.Last_Name}}</dt>
                                    <dd>"{{this.Company_Name}}"</dd>
                                    <dd>{{this.Street_Address}},{{this.Extra_Details}}</dd>
                                    <dd>{{this.Town_City}}, {{this.Country_State}}</dd>
                                    <dd>PIN:{{this.Post_Code}}</dd>
                                    <dd>Ph:{{this.Phone}}</dd>
                                    <dd>Alt-Ph:{{this.Alt_Phone}}</dd>
                                    <dt class="mt-1 mb-1 d-flex">

                                             <a href="/add-edit-address/?id={{this.addressId}}"class="btn btn-primary">EDIT</a>

                                            <a href="/remove-address/{{this.addressId}}" onclick="return confirm('Are you sure?')" class="btn btn-danger ml-3">REMOVE</a>

                                    </dt>

                                </dl>
                            </div>
                            {{/each}}

                        </div>
        </div>

    </div>

</div>

</body>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

    /* Resetting */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    #sidebar {
        padding: 15px 0px 15px 0px;
        border-radius: 10px;
    }

    #sidebar .h4 {
        font-weight: 500;
        padding-left: 15px;
    }

    #sidebar ul {
        list-style: none;
        margin: 0;
        padding-left: 0rem;
    }

    #sidebar ul li {
        padding: 10px 0;
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        border-left: 5px solid transparent;
    }

    #sidebar ul li.active {

        background-color: #1da8f3;
    }

    #sidebar ul li a {
        display: block;
    }

    #sidebar ul li a .fas,
    #sidebar ul li a .far {
        color: rgb(20, 17, 17);
    }

    #sidebar ul li a .link {
        color: rgb(45, 41, 41);
        font-weight: 500;
    }

    #sidebar ul li a .link-desc {
        font-size: 0.8rem;
        color: rgb(53, 51, 51);
    }

    #main-content {
        padding: 30px;
        border-radius: 15px;
    }

    #main-content .h5,
    #main-content .text-uppercase {
        font-weight: 600;
        margin-bottom: 0;
    }

    #main-content .h5+div {
        font-size: 0.9rem;
    }

    #main-content .box {
        padding: 10px;
        border-radius: 6px;
        width: 170px;
        height: 90px;
    }

    #main-content .box img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    #main-content .box .tag {
        font-size: 0.9rem;
        color: #000;
        font-weight: 500;
    }

    #main-content .box .number {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .order {
        padding: 10px 30px;
        min-height: 150px;
    }

    .order .order-summary {
        height: 100%;
    }

    .order .blue-label {
        background-color: #aeaeeb;
        color: #1da8f3;
        font-size: 0.9rem;
        padding: 0px 3px;
    }

    .order .green-label {
        background-color: #a8e9d0;
        color: #008357;
        font-size: 0.9rem;
        padding: 0px 3px;
    }

    .order .fs-8 {
        font-size: 0.85rem;
    }

    .order .rating img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .order .rating .fas,
    .order .rating .far {
        font-size: 0.9rem;
    }

    .order .rating .fas {
        color: #daa520;
    }

    .order .status {
        font-weight: 600;
    }

    .order .btn.btn-primary {
        background-color: #fff;
        color: #1da8f3;
        border: 1px solid #1da8f3;
    }

    .order .btn.btn-primary:hover {
        background-color: #1da8f3;
        color: #fff;
    }

    .order .progressbar-track {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
    }

    .order .progressbar-track .progressbar {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0rem;
    }

    .order .progressbar-track .progressbar li {
        font-size: 1.5rem;
        border: 1px solid #333;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: #dddddd;
        z-index: 100;
        position: relative;
    }

    .order .progressbar-track .progressbar li.green {
        border: 1px solid #007965;
        background-color: #d5e6e2;
    }

    .order .progressbar-track .progressbar li::after {
        position: absolute;
        font-size: 0.9rem;
        top: 50px;
        left: 0px;
    }

    #tracker {
        position: absolute;
        border-top: 1px solid #bbb;
        width: 100%;
        top: 25px;
    }

    #step-1::after {
        content: 'Placed';
    }

    #step-2::after {
        content: 'Accepted';
        left: -10px;
    }

    #step-3::after {
        content: 'Packed';
    }

    #step-4::after {
        content: 'Shipped';
    }

    #step-5::after {
        content: 'Delivered';
        left: -10px;
    }



    /* Backgrounds */
    .bg-purple {
        background-color: #f0ecec;
    }

    .bg-light {
        background-color: #f0ecec !important;
    }

    .green {
        color: #007965 !important;
    }

    /* Media Queries */
    @media(max-width: 1199.5px) {
        nav ul li {
            padding: 0 10px;
        }
    }

    @media(max-width: 500px) {
        .order .progressbar-track .progressbar li {
            font-size: 1rem;
        }

        .order .progressbar-track .progressbar li::after {
            font-size: 0.8rem;
            top: 35px;
        }

        #tracker {
            top: 20px;
        }
    }

    @media(max-width: 440px) {
        #main-content {
            padding: 20px;
        }

        .order {
            padding: 20px;
        }

        #step-4::after {
            left: -5px;
        }
    }

    @media(max-width: 395px) {
        .order .progressbar-track .progressbar li {
            font-size: 0.8rem;
        }

        .order .progressbar-track .progressbar li::after {
            font-size: 0.7rem;
            top: 35px;
        }

        #tracker {
            top: 15px;
        }

        .order .btn.btn-primary {
            font-size: 0.85rem;
        }
    }

    @media(max-width: 355px) {
        #main-content {
            padding: 15px;
        }

        .order {
            padding: 10px;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $('#orderTable').DataTable();
    });
</script>


<style>
    .tr {
        height: 50px;
    }
</style>

