

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-lg-3  my-lg-0 my-md-1">
            <div id="sidebar" class="bg-purple">
                <div class="h4 text-dark">Account</div>
                <ul>
                    <li >
                        <a href="/profile" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-box pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Account</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/orders" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-box-open pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Orders</div>
                                <div class="link-desc">View & Manage orders and returns</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/user-address" class="text-decoration-none d-flex align-items-start">
                            <div class="far fa-address-book pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">Address Book</div>
                                <div class="link-desc">View & Manage Addresses</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none d-flex align-items-start">
                            <div class="far fa-user pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">My Profile</div>
                                <div class="link-desc">Change your profile details & password</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none d-flex align-items-start">
                            <div class="fas fa-headset pt-2 me-3"></div>
                            <div class="d-flex flex-column">
                                <div class="link">Help & Support</div>
                                <div class="link-desc">Contact Us for help and support</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-9 col-md-12 d-flex" style="margin-top: 0px; justify-items: center; align-items: center;">
            <table class="table-responsive table-bordered " style="background-color: rgb(232, 225, 225); border-radius: 3%;" id="orderTable">
                {{!-- <h3>My Orders</h3> --}}
                <thead>
                    <tr class="tr align-items-center">
                        <th scope="col">NO:</th>
                        {{!-- <th scope="col">Date</th> --}}
                        <th scope="col">Address</th>
                        <th scope="col">Pincode</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment</th>
                        <th scope="col">status</th>
                        <th scope="col">Product info</th>
                        <th scope="col">Cancel order</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr class="tr">
                        <td scope="row">{{@index}}</td>
                        {{!-- <td>{{this.date}}</td> --}}
                        <td>{{this.deliveryDetails.Street_Address}}</td>
                        <td>{{this.deliveryDetails.Post_Code}}</td>
                        <td>{{this.Phone.Phone}}</td>
                        <td>$ {{this.Total_Amount}}</td>
                        <td>{{this.Pay_Method}}</td>

                        <td {{#when this.status 'eq' 'cancelled' }} style="color: rgb(255, 0, 0);" {{/when}}>
                            {{this.status}}
                        </td>

                        <td><a href="/order-products?id={{this._id}}"><button class="btn btn-success"> Product Details</button></a></td>
                        {{#when this.status 'noteq' 'cancelled'}}
                        <td><a class="btn btn-danger" href="/cancel-order/?id={{this._id}}">Cancel</a></td>
                        {{/when}}

                    </tr>
                    {{/each}}


                </tbody>
            </table>
        </div>

    </div>

</div>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

    /* Resetting */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    #sidebar {
        padding: 15px 0px 15px 0px;
        border-radius: 10px;
    }

    #sidebar .h4 {
        font-weight: 500;
        padding-left: 15px;
    }

    #sidebar ul {
        list-style: none;
        margin: 0;
        padding-left: 0rem;
    }

    #sidebar ul li {
        padding: 10px 0;
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        border-left: 5px solid transparent;
    }

    #sidebar ul li.active {

        background-color: #1da8f3;
    }

    #sidebar ul li a {
        display: block;
    }

    #sidebar ul li a .fas,
    #sidebar ul li a .far {
        color: rgb(20, 17, 17);
    }

    #sidebar ul li a .link {
        color: rgb(45, 41, 41);
        font-weight: 500;
    }

    #sidebar ul li a .link-desc {
        font-size: 0.8rem;
        color: rgb(53, 51, 51);
    }

    #main-content {
        padding: 30px;
        border-radius: 15px;
    }

    #main-content .h5,
    #main-content .text-uppercase {
        font-weight: 600;
        margin-bottom: 0;
    }

    #main-content .h5+div {
        font-size: 0.9rem;
    }

    #main-content .box {
        padding: 10px;
        border-radius: 6px;
        width: 170px;
        height: 90px;
    }

    #main-content .box img {
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    #main-content .box .tag {
        font-size: 0.9rem;
        color: #000;
        font-weight: 500;
    }

    #main-content .box .number {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .order {
        padding: 10px 30px;
        min-height: 150px;
    }

    .order .order-summary {
        height: 100%;
    }

    .order .blue-label {
        background-color: #aeaeeb;
        color: #1da8f3;
        font-size: 0.9rem;
        padding: 0px 3px;
    }

    .order .green-label {
        background-color: #a8e9d0;
        color: #008357;
        font-size: 0.9rem;
        padding: 0px 3px;
    }

    .order .fs-8 {
        font-size: 0.85rem;
    }

    .order .rating img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .order .rating .fas,
    .order .rating .far {
        font-size: 0.9rem;
    }

    .order .rating .fas {
        color: #daa520;
    }

    .order .status {
        font-weight: 600;
    }

    .order .btn.btn-primary {
        background-color: #fff;
        color: #1da8f3;
        border: 1px solid #1da8f3;
    }

    .order .btn.btn-primary:hover {
        background-color: #1da8f3;
        color: #fff;
    }

    .order .progressbar-track {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
    }

    .order .progressbar-track .progressbar {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0rem;
    }

    .order .progressbar-track .progressbar li {
        font-size: 1.5rem;
        border: 1px solid #333;
        padding: 5px 10px;
        border-radius: 50%;
        background-color: #dddddd;
        z-index: 100;
        position: relative;
    }

    .order .progressbar-track .progressbar li.green {
        border: 1px solid #007965;
        background-color: #d5e6e2;
    }

    .order .progressbar-track .progressbar li::after {
        position: absolute;
        font-size: 0.9rem;
        top: 50px;
        left: 0px;
    }

    #tracker {
        position: absolute;
        border-top: 1px solid #bbb;
        width: 100%;
        top: 25px;
    }

    #step-1::after {
        content: 'Placed';
    }

    #step-2::after {
        content: 'Accepted';
        left: -10px;
    }

    #step-3::after {
        content: 'Packed';
    }

    #step-4::after {
        content: 'Shipped';
    }

    #step-5::after {
        content: 'Delivered';
        left: -10px;
    }



    /* Backgrounds */
    .bg-purple {
        background-color: #f0ecec;
    }

    .bg-light {
        background-color: #f0ecec !important;
    }

    .green {
        color: #007965 !important;
    }

    /* Media Queries */
    @media(max-width: 1199.5px) {
        nav ul li {
            padding: 0 10px;
        }
    }

    @media(max-width: 500px) {
        .order .progressbar-track .progressbar li {
            font-size: 1rem;
        }

        .order .progressbar-track .progressbar li::after {
            font-size: 0.8rem;
            top: 35px;
        }

        #tracker {
            top: 20px;
        }
    }

    @media(max-width: 440px) {
        #main-content {
            padding: 20px;
        }

        .order {
            padding: 20px;
        }

        #step-4::after {
            left: -5px;
        }
    }

    @media(max-width: 395px) {
        .order .progressbar-track .progressbar li {
            font-size: 0.8rem;
        }

        .order .progressbar-track .progressbar li::after {
            font-size: 0.7rem;
            top: 35px;
        }

        #tracker {
            top: 15px;
        }

        .order .btn.btn-primary {
            font-size: 0.85rem;
        }
    }

    @media(max-width: 355px) {
        #main-content {
            padding: 15px;
        }

        .order {
            padding: 10px;
        }
    }
</style>

<script>
    $(document).ready(function () {
        $('#orderTable').DataTable();
    });
</script>


<style>
    .tr {
        height: 50px;
    }
</style>